* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree';
}

h1 {
    font-weight: 500;
}

body {
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;
    background: linear-gradient(to bottom right, rgb(80, 182, 255) 50%, white 50%);
}

.bio {
    background-color: white;
    border: 2px solid black;
    border-left: none;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.221);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    max-width: 700px;
}

.name {
    text-decoration: underline;
}

.headshot {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.658);
    transition: 0.2s all;
}

.socials {
    width: 30px;
    transition: 0.2s all;
}

.links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.bio, .headshot {
    margin-top: 30px;
}

.socials:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 470px);
    grid-template-rows: repeat(2, 350px);
    padding: 10px;
    gap: 50px;
    justify-content: center;
}

.item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.555);
    gap: 10px;
    border-radius: 5px;
    transition: 0.2s all;
}

.item:hover {
    transform: scale(1.01);
}

.proj-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item h1 {
    text-decoration: underline;
}

.preview {
    width: 400px;
    border: 1px solid black;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    transition: 0.2s all;
    cursor: pointer;
}