* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree';
}

h1 {
    font-weight: 500;
}

body {
    font-weight: 400;
    background-color: #E0E0E0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;
    background: linear-gradient(to bottom right, #3A606E 50%, #E0E0E0 50%);
}

.bio {
    background-color: white;
    border: 2px solid black;
    border-left: none;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.221);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    max-width: 700px;
}

.name {
    text-decoration: underline;
}

.headshot {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.658);
    transition: 0.2s all;
}

.headshot:hover {
    transform: scale(1.01);
    border-color: #3A606E;
}

.socials {
    width: 30px;
    transition: 0.2s all;
}

.links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.bio, .headshot {
    margin-top: 30px;
}

.socials:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(330px, 520px));
    grid-template-rows: repeat(2, 520px);
    padding: 10px;
    padding-bottom: 30px;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

.desc {
    max-width: 300px;
}


.item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.555);
    gap: 10px;
    border-radius: 5px;
    transition: 0.2s all;
    background-color: white;
}

.item:hover {
    transform: scale(1.01);
}

.proj-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item h1 {
    text-decoration: underline;
}

.preview {
    max-width: 90%;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    transition: 0.2s all;
    cursor: pointer;
    transition: 0.2s all;
}

.preview:hover, .stack:hover {
    transform: scale(1.025);
}

.stack {
    padding: 10px;
    margin-top: 15px;
    background-color: #E0E0E0;
    border-radius: 5px;
    border: 2px solid black;
    transition: 0.2s all;
}

.stack li {
    list-style-type: none;
}

.stack:hover {
    border-color: #3A606E;
}





.grad {
    font-weight: 500;
    text-decoration: underline;
}

.skills {
    display: flex;
    gap: 100px;
    
    text-align: center;
    justify-content: center;
    /* background: linear-gradient(170deg, #AAAE8E 50%, #E0E0E0 50%); */
    /* align-items: center; */
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
}

.lang {
    width: 40px;
    opacity: 0.8;
    transition: 0.2s all;
}

.lang:hover {
    opacity: 1;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    border: 2px solid black;
    transition: 0.2s all;
}

.skill:hover {
    transform: scale(1.05);
    background-color: aliceblue;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    background-color: #3A606E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.right svg {
    width: 20px;
}

.email, .phone {
    display: flex;
    align-items: center;
    gap: 5px;
}

.right .links {
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
}

.left p {
    font-weight: 500;
}

.left h1 {
    text-decoration: underline;
}


/* Media queries */

@media (max-width: 1000px) {
    .header {
        flex-direction: column;
    }

    .projects {
        grid-template-columns: repeat(2, minmax(200px, 400px));
    }

    .item {
        padding: 20px;
    }

    .preview {
        max-width: 100%;
        height: auto;
    }

    .skills {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .projects {
        grid-template-columns: repeat(1, 300px);
    }

    .headshot {
        max-width: 300px;
    }

    .preview {
        max-width: 250px;
    }

    .skills {
        flex-direction: column;
        gap: 40px;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .bio .links {
        justify-content: center;
    }
}