* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree';
}

h1 {
    font-weight: 500;
}

body {
    font-weight: 400;
}

header {
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom right, rgb(80, 182, 255) 50%, white 50%);
}

.bio {
    margin: auto;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.221);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
}

.name {
    text-decoration: underline;
}